.turbo/
**/.turbo/
.tmp
 .data/
 **/.data/

# dependencies
node_modules/
**/node_modules/

# build artifacts
dist/
**/dist/
.output/
.vinxi/
.vite/
**/.vite/
*.tsbuildinfo

# env
.env
.env.*.local

# logs
*.log

# OS / IDE
.DS_Store
.idea/
.vscode/
