package page

import "donegeon/ui"
import "donegeon/internal/config"

templ BoardPage(boardConfig config.BoardUIConfig) {
	
	@ui.AppLayout("Donegeon - Board", "/static/js/board.js", ui.Board(boardConfig))
}

